@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Poppins:wght@200;300;400;600&display=swap');

html{
	box-sizing: border-box;
}
  
*, *::before, *::after{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

:root {
	--fontHead: 'Montserrat', sans-serif;
	--fontInfo: 'Poppins', sans-serif;
	--pluggRed: rgba(220, 20, 37, 0.9);
	--pluggBlack: rgba(0, 0, 0, 0.8);
	--pluggGrey: hsl(0, 1%, 34%);
	--navBarHeight: 38px;
}

body{
	font-family: var(--fontInfo);
	background-color: hsl(0, 0%, 98%);
	color: var(--pluggGrey);
}
 
a {
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

.navBar {
	position: fixed;
	top: 0; 
	width: 100%;
	border-radius: 0 0.25rem 0.25rem 0;
	z-index: 9999;
	height: var(--navBarHeight);
	display: flex;
	align-items: center;
	text-decoration: none;
	overflow: hidden;
	background: var(--pluggRed);
	color: white;
}

.navLeft {
	margin-left: 2rem;
	text-decoration: none;
}

.navLeft:hover {
	transform: translateY(1px);
}

.brandLogo {
	height: 30px;
}

.navRight {
	width: 150px;
	font-family: var(--fontInfo);
	font-size: 12px;
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: 4rem;
	justify-content: space-between;
}

.navRight a:hover {
	transform: translateY(1px);

}

.badgeCart {
	color: white/*var(--pluggRed)*/; 
	font-weight: bolder;
}

.heroDiv{
	width: 100%;
	background: var(--pluggRed);
	color: white;
	overflow: hidden;
	border-radius: 0 0.25rem 0.25rem 0;
}

.heroCarousel {
	position: relative;
	height: 100%;
}

.heroCarousel div {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.categoriesDiv {
	width: 20%;
	background: var(--pluggBlack);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	font-family: var(--fontHead);
	font-size: 12px;
	border-radius: 0.25rem 0 0 0.25rem;
}

.categoriesDiv div {
	width: 100%;
	padding-block: 0.4rem;
	padding-left: 2rem;
	overflow: hidden;
}

.categoriesDiv div:hover {
	cursor: pointer;
	background-color: rgba(110, 110, 110, 0.315);
	transform: translateY(1px);
}

.carouselPrev {
	position: absolute;
	z-index: 9990;
	left: 20%;
	top: 35%;
	cursor: pointer;
	background: rgba(0, 0, 0, 0.86);
	color: white;

}

.carouselNext {
	position: absolute;
	z-index: 9990;
	left: 93%;
	top: 35%;
	cursor: pointer;
	background: rgba(0, 0, 0, 0.86);
	color: white;
}

.dealsDiv {
	height: 20vh;
	background-color: teal;
	display: flex;
	flex-direction: row;
	margin-inline: 1px;
	border-radius: 0.25rem;
	overflow: hidden;
	justify-content: center;
	align-items: center;
}

.dealsTextLarge {
	color: white;
	font-family: --var(fontInfo);
	font-size: 4rem;
}

.dealsCard {
	height:88%;
	width: 16%;
	border: 1px solid var(--pluggRed) ;
	border-radius: 5px;
	background-color: white;
	margin: 8px;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.dealsCard:hover {
	cursor: pointer;
}

.dealsCard img {
	height: 80%;
	width: 100%;
	padding: 8px;
	
}

.dealsCard div {
	height: 100%;
	background: var(--pluggRed);
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: var(--fontHead);
	font-size: 14px;
	border-radius: 0 0 5px 5px;
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.product{
	border-radius: 0 0 4px 4px;
}

.productCard {
	width: 15vw;
	height: 40vh;
	border-radius: 0.25rem;
	margin: 8px;
}

.productCard:hover {
	border: 1px solid rgba(136, 132, 132, 0.35);
	box-shadow: 1px 2px 16px rgb(197, 193, 193);
	transform: translateY(-3px);
}

.productImg{
	position: relative;
	width: 50%;
}

.productCardInfo:hover {
	color: var(--pluggBlack);
}



.btnPill {
	height: 1.5rem;
	width: auto;
	padding: 0.5rem;
	background: white;
	color: var(--pluggRed);
	border: 1px solid var(--pluggRed);
	border-radius: 8px;
	font-size: 12px;
	display: flex;
	align-self: center;
	align-items: center;
	justify-content: center;
}

.btnPill:hover {
	cursor: pointer;
	background: var(--pluggRed);
	color: white;
}

.productDetailImg {
	position: relative;
	width: 60%;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}

.hidden{
	display: none!important;
}

.account-img {
	height: 125px;
	width: 125px;
	margin-right: 20px;
	margin-bottom: 16px;
}

.account-heading {
	font-size: 2.5rem;
}

.paginationDiv {
	display: inline-flex;
	list-style: none;
	margin-left: 30%;
	justify-content: space-between;
} 

.paginationDiv a {
	margin-inline: 4px;
}

.paginationActive {
	color: white;
	background-color: var(--pluggRed);
}

